.home_send {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.home_send:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.home_send:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.home_send span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.home_send svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.home_send .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.home_send:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.home_send:hover svg {
  transform: rotate(45deg);
}

